@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply inline-block px-4 py-3 rounded-lg uppercase tracking-wider font-semibold text-sm sm:text-base
        focus:outline-none focus:ring focus:ring-offset-2;
    }
    .btn-primary {
        @apply shadow-lg bg-brand text-white
        hover:bg-brand-light hover:-translate-y-0.5 transform transition
        focus:ring-brand focus:ring-opacity-50
        active:bg-brand-dark;
    }
}